
/* Navbar logo */

#logo.img{
    text-align: left;
    padding-right: 0.1rem;
    padding-top: 0.1rem;

}

/* footer------------------------------------ */

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");



body {
  font-family: Lato, sans-serif;
}

html{
  overflow-x: hidden;
}
footer {
  width:100vw;
  position:relative;
  bottom:0px;
  /* margin-left: -120%; */
  /* margin-right: -120%; */
  /* left: 0px; */
  /* margin-left: -120px; */
  
}
footer div {
  background-color:#4478e3;
  margin: -5px 0px 0px 0px;
  padding:0px;
  color: #fff;
  text-align:center;
}
svg {
  width:100%;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: #4478e3;
}
.drop {
  fill: transparent;
  animation: drop 5s ease infinite normal;
  stroke: #4478e3;
  stroke-width:0.5;
  opacity:.6; 
  transform: translateY(80%);
}
.drop1 {
  transform-origin: 20px 5px;
}
.drop2 {
  animation-delay: 3s;
  animation-duration:3s;
  transform-origin: 25px 5px;
}
.drop3 {
  animation-delay: -2s;
  animation-duration:3.4s;
  transform-origin: 16px 5px;
}
.gooeff {
      filter: url(#goo);
}
#wave2 {
  animation-duration:5s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 7s;
  opacity:.3;
}
.cont{
  display: block;
  font-size: larger;
  padding-bottom: 20px;
}

.icons{
font-size: x-large;
color: black;
size: 50px;
}

.fa-envelope:hover{
    color: #8283a7;
} 


.fa-map-marker-alt:hover{
    /*opacity: 0.5;*/
    color: red;
}

@keyframes drop {
  0% {
    transform: translateY(80%); 
    opacity:.6; 
  }
  80% {
    transform: translateY(80%); 
    opacity:.6; 
  }
  90% { 
    transform: translateY(10%) ; 
    opacity:.6; 
  }
  100% { 
    transform: translateY(0%) scale(1.5);
    stroke-width:0.2;
    opacity:0; 
  }
}
@keyframes wave {
  to {transform: translateX(-100%);}
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
 * {
	 box-sizing: border-box;
}
 body, html {
	 height: 100%;
}
 body {
	 font-family: "Lato", sans-serif;
	 color: #111;
	 display: flex;
	 align-items: center;
	 align-content: center;
	 justify-content: center;
}
 .container {
	 width: auto;
	 margin: auto;
}
 @keyframes topAnimation {
	 from {
		 transform: translate(0rem, 0);
	}
	 to {
		 transform: translate(0rem, 3.5rem);
	}
}
 @keyframes bottomAnimation {
	 from {
		 transform: translate(-11.5rem, 0);
	}
	 to {
		 transform: translate(0rem, 0);
	}
}
 button.btn {
	 text-transform: uppercase;
	 text-decoration: none;
	 font-weight: 700;
	 border: 0;
	 position: relative;
	 letter-spacing: 0.15em;
	 margin: 0 auto;
	 padding: 1rem 2.5rem;
	 background: transparent;
	 outline: none;
	 font-size: 28px;
	 color: #111;
	 transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
}
 button.btn::after, button.btn::before {
	 border: 0;
	 content: "";
	 position: absolute;
	 height: 40%;
	 width: 10%;
	 transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	 z-index: -2;
	 border-radius: 50%;
}
 button.btn::before {
	 border: 0;
	 background-color: #c92918;
	 top: -0.75rem;
	 left: 0.5rem;
	 animation: topAnimation 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate;
}
 button.btn::after {
	 background-color: #e74c3c;
	 top: 3rem;
	 left: 13rem;
	 animation: bottomAnimation 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;
}
 button.btn:hover {
	 color: white;
}
 button.btn:hover::before, button.btn:hover::after {
	 top: 0;
	 height: 100%;
	 width: 100%;
	 border-radius: 0;
	 animation: none;
}
 button.btn:hover::after {
	 left: 0rem;
}
 button.btn:hover::before {
	 top: 0.5rem;
	 left: 0.35rem;
}
 
